.signup-form,.form-group{
  justify-content: center;
  display: block;
  background-color: rgb(219, 207, 192);
  padding: 30px;
  margin: 170px;
  margin-left: 40%;
  width: 300px;
  border-radius: 10px;

}
.sign-btn{
  margin-top: 10px;
  border-radius: 5px;
  border: none;

}
.sign-btn:hover{
  background-color: black;
  color: white;
}
.signup-form input,.form-group input{
  border: none;
  width: 250px;
  border-radius: 7px;
  border-bottom: 2px solid black;
}
